/*-------------------------------------------------
    Header, Nav and Footer (For all Webpages)
---------------------------------------------------*/
@font-face {
	font-family: 'Eyes';
	src: url(Fonts/Eyes.ttf);
}
body {
	margin: 0 auto 0 auto;
	width: 100%; 
} 
header {
	width: 100%;
	background-color: #2DD9FF;
	top: 0;
	border-top: 10px solid #0092b2;
} 
#header_interior {
	margin: 0 auto 0 auto; 
	width: 95%;
}
.logo {
	width: 15%;
	min-width: 110px;
	min-height: 110px;
	float: left;
	clear: both;
	
}
.logo_center {
	display: none;
}
.title {
	font-family: 'Eyes', 'Exo', sans-serif;
	src: url(Fonts/Eyes.ttf);
	font-size: 3.4vw;
	min-width: 110px;
	min-height: 110px;
	overflow: auto;
	display: inline;
	position: relative;
	top: 20px;
	right: 5px;
	color: #FF7C08;
} 
@media only screen and (min-width: 1px) and (max-width: 621px) {
	.logo {
		display: none;
	}
	.logo_center {
		display: block;
		margin: 0 auto 0 auto;
		width: 25%;
		min-width: 110px;
		min-height: 110px;
	}
	.title {
		display: none;
	}
	header {
		border-top: 0px solid black;
	}
}
.pointer {
	width: 30%;
	min-height: 50px;
	border: 1px solid #2DD9FF;
	font-size: 24px;
	background-color: #2DD9FF;
	float: right;
	color: white;
} 
@media only screen and (min-width: 621px) and (max-width:1000px) {
	.pointer {
		min-height: 35px;
		font-size: 20px;
	}
}
@media only screen and (min-width: 1px) and (max-width:621px) {
	.pointer {
		display: none;
	}
}
nav {
	margin: 0 auto 0 auto;
	background-color: #71E1F9;
	width: 100%;
}
#nav_interior {
	margin: 0 auto 0 auto;
	width: 80%;
	background-color: #71E1F9;
}
.mobile-nav {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	z-index: 1;
}
.nav-home {
	padding-left: 0;
	width: 100%;
}
.nav-button {
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	height: 100px;
	color: white;
}
.row {
	margin-right: 15px;
}
.navbar-fixed-bottom, .navbar-inverse, .col-xs-12 {
	display: none;
}
@media only screen and (min-width: 1px) and (max-width:779px) {
	#nav_interior {
		display: none;
		background-color: #0092b2;
	}
	.navbar-nav, .nav {
		display: none;
	}
	.navbar {
		position: relative;
		min-height: 100px;
		margin-bottom: 20px;
		border: 1px solid transparent;
	}
	.nav-button {
		background-color: transparent;
		border-color: transparent;
		width: 100%;
		height: 75px;
		color: white;
		font-size: 0px;
	}
	.glyphicon {
		font-size: 20px;
	}
	.navbar-fixed-bottom, .navbar-inverse, .col-xs-12 {
		display: block;
	}
	header {
		border-top: 5px solid #0092b2;
	}
}
/*--------------------------------------------------
	Homepage
---------------------------------------------------*/
#center-index {
	text-align: center;
}
#intro p{
	color: black;
}
#titlehomepage {
	text-align: center;
}
.welcome {
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
}
#introcontent {
	width: 80%;
	margin: 0 auto 0 auto;
}
#intro {
	width: 60%;
	float: left;
	text-align: center;
	clear: both;
	position: relative; 
	left: 50px;
	font-size: 16px;
}
@media only screen and (min-width: 1px) and (max-width:669px) {
	#intro {
		float: none;
		margin: 0 auto 0 auto;
		position: static;
	}
	.welcome {
		font-size: 24px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#intro {
		font-size: 13px;
		width: 90%; 
	}
}
#homepagebuttons {
	width: 20%;
	margin-left: 80%;
	display: block;
	height: 375px;
	position: relative; 
	top: 15px;
}
.logonbutton {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	color: white;
	z-index: -1;
}
.signupbutton {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid red;
	border-radius: 5px;
	background-color: red;
	color: white;
	z-index: -1;
}
.contributors {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid purple;
	border-radius: 5px;
	background-color: purple;
	color: white;
	z-index: -1;
}
.affilatedapps {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: blue;
	color: white;
	z-index: -1;
}
.logonbutton:hover, .signupbutton:hover, .contributors:hover, .affilatedapps:hover {
	opacity: 0.8;
}
@media only screen and (min-width: 1px) and (max-width:669px) {
	#homepagebuttons {
		width: 100%;
		margin-left: 0;
		height: 175px;
	}
	.logonbutton, .contributors {
		float: left;
	}
	.signupbutton, .affilatedapps {
		float: right;
	}
	.logonbutton, .signupbutton, .contributors, .affilatedapps {
		width: 45%;
	}
}
.recipelink {
	text-decoration: none;
	text-align: center;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	display: inline-block;
}
@media only screen and (min-width: 670px) and (max-width:2000px) {
	.recipelink {
		margin-top: 5px;
	}
}
.featuredtitle {
	text-align: center;
}
.background-color {
	background-color: black;
	color: yellow;
}
/*--------------------------------------------------
	Directory
---------------------------------------------------*/
.recipe_list {
	float: right;
	width: 80%;
}
#filter {
	float: left;
	width: 20%;
}
#filter-background {
	background-color: purple;
	margin-top: -20px;
}
.filter-title {
	text-align: center;
}
.filter-button {
	width: 100%;
	margin-top: -10px;
	height: 100px;
}
#food {
	width: 25%;
	border: 1px solid black;
	display: inline-block;
}
.border-images {
	border: 1px solid black;
}
.nameRecipe {
	font-size: 1.2em;
}
.recipe {
	border: 1px solid black;
	margin: 0;
	width: 20%;
}
a .recipe {
	text-decoration: none;
}
.recipe a:hover {
	text-decoration:none;
	color: red;
}
.star {
	height: 10px;
	width: 10px;
}