/*-------------------------------------------------
    Header, Nav and Footer (For all Webpages)
---------------------------------------------------*/
body {
	margin: 0 auto 0 auto;
	width: 100%; 
} 
header {
	width: 100%;
	background-color: #0Ce587;
	top: 0;
	border-top: 20px solid #018D01;
} 
#header_interior {
	margin: 0 auto 0 auto; 
	width: 95%;
}
.logo {
	width: 15%;
	min-width: 110px;
	min-height: 110px;
	float: left;
	clear: both;
}
.logo_center {
	display: none;
}
.title {
	font-family: 'Exo', sans-serif;
	font-size: 3.4vw;
	min-width: 110px;
	min-height: 110px;
	overflow: auto;
	display: inline;
	position: relative;
	top: 20px;
	right: 5px;
	color: #A74A01;
} 
@media only screen and (min-width: 1px) and (max-width:620px) {
	.logo {
		display: none;
	}
	.logo_center {
		display: block;
		margin: 0 auto 0 auto;
		width: 25%;
		min-width: 110px;
		min-height: 110px;
	}
	.title {
		display: none;
	}
}
.pointer {
	width: 30%;
	min-height: 50px;
	border: 1px solid #0Ce587;
	font-size: 24px;
	background-color: #0Ce587;
	float: right;
	color: white;
} 
@media only screen and (min-width: 621px) and (max-width:1000px) {
	.pointer {
		min-height: 35px;
		font-size: 20px;
	}
}
@media only screen and (min-width: 1px) and (max-width:620px) {
	.pointer {
		display: none;
	}
}
nav {
	margin: 0 auto 0 auto;
	top: 0;
}
#nav_interior {
	margin: 0 auto 0 auto;
	width: 100%;
}
.nav_reborn {
	list-style: none;
	text-decoration: none;
}
.nav1 {
	width: 50%;
	float: left;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	height: 40px;
}
.nav2 {
	width: 50%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 40px;
}
/*--------------------------------------------------
	Homepage
---------------------------------------------------*/
#intro_background {

}
#intro p{
	color: black;
}
#titlehomepage {
	text-align: center;
}
.welcome {
	font-size: 32px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#introcontent {
	width: 80%;
	margin: 0 auto 0 auto;
}
#intro {
	width: 60%;
	float: left;
	text-align: center;
	clear: both;
	position: relative; 
	left: 50px;
	font-size: 16px;
}
#homepagebuttons {
	float: right;
	width: 20%;
}
.logonbutton {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid yellow;
	background-color: yellow;
}
.signupbutton {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid red;
	background-color: red;
}
.contributors {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid purple;
	background-color: purple;
}
.affilatedapps {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid blue;
	background-color: blue;
}