/**
Style to create a 3 column div, to allow
the images to layout horizontally
**/
 #listheader {
	 margin: 0 auto;
	 text-align: center;
	 
 }
 /**
 Centers the list and adds border for style
 **/
 #centerlist {
	 width: 75%;
	 margin:0 auto;
	 text-align: left;
	 border: 1px solid black;
 }
 /**
 Formats all 3 columns width and height
 **/
 #imagesdiv {
	 width: 100%;
	 height: 370px;
	 
 }
 /**
Formats the ingredient list table
 **/
 #ingredientTable {
	 width: 80%;
	 
 }
/**
Formats recipe image size
**/
 #foodsize {
	 width: 100%;
	 height: 100%;
 }
 #clockimg {
	 height: 25px;
	 width: 25px;
 }
 #clock {
	 width: 20%;
	 float: right;
	display: inline;
 }
 #servings {
	 width: 100%;
	 font-size: 1.2em;
	 font-weight: bold;
 }
 img#foodsize {
    border: 2px solid #bc3908;
    border-radius: 10px;
	min-height: 250px;
	width: 95%;
}
#imageFood {
	margin: 0 auto 0 auto;
	display: block;
	text-align: center;

}
#titleDirectory {
	margin: 0 auto 0 auto;
	display: block;
	text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 621px) { 
	#centerlist {
		width: 100%;
	}
}
.down-arrow {
	height: 20px;
	width: 20px;
	float: right;
}
.list {
	list-style-type: none;
	width: 100%;
	margin-left: -40px;
}
.ilist {
	list-style-position: inside;
}

li {
    padding: 8px 16px;
    border-bottom: 1px solid #bc3908;
}

li:last-child {
    border-bottom: none
}
.ilist li {
		padding-bottom: 20px;
}
#ratings {
	margin-left: 5px;
	margin-top: -45px;
	margin-bottom: -25px;
	display: block;
}
#actualRating {
	height: 25px;
	width: 25px;
}
#userRating {
	height: 125px;
	width: 125px;
}
#share {
	background: #DD4B39;
	box-shadow: 2px 4px 20px black;
    color: white;
}
#google {
	height: 20px;
	width: 20px;
	
}